header {
    background: $grey-2;
    .navbar {
        background: transparent;
        a {
            color: $white;
            text-transform: uppercase;
            letter-spacing: .2em;
            &:hover {
                color: $grey-6;
                background: transparent;
            }
        }
        .navbar-logo {
            font-family: $serif;
            font-weight: 800;
        }
        .navbar-end {
            font-size: .6em;
            .navbar-item {
                background: transparent;
                display: inline-flex;
                color: $grey-6;
                &:hover {
                    background: transparent;
                }
            }
        }
    }
}

@media screen and (max-width: $tablet) {
    header .navbar {
        text-align: center;
        a {
            font-size: 1.5em;
        }
        .navbar-end {
            font-size: .75em;
        }
    }
}