@import url('https://fonts.googleapis.com/css?family=Arimo|Open+Sans&display=swap');

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body {
  background-color: $black;
  margin: 0;
  color: $white;
}