// Variables //
// Colors
$black: #212121;
$white: #fff;

$serif: "Playfair Display";
$sans-serif: "Lato";
$system-font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

